# --- JAVA & MAVEN ---
target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# --- IDEs (IntelliJ, Eclipse, VSCode) ---
.idea/
*.iml
.classpath
.project
.settings/
.vscode/
bin/
.nb-gradle/

# --- LOGS & TEMP ---
*.log
logs/
temp/
tmp/

# --- SISTEMA ---
.DS_Store
Thumbs.db
desktop.ini

# --- CONFIGURAÇÕES SENSÍVEIS ---
application.properties.old
.env
application-prod.properties

# --- RUNTIME ---
*.pid
disclosed-companies.pid